@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anurati";
  src: url("../public/fonts/Anurati-Regular.otf");
}

.anurati {
  font-family: "Anurati", monospace;
}
