@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

@font-face {
  font-family: "Anurati";
  src: url("../public/fonts/Anurati-Regular.otf");
}

.anurati {
  font-family: "Anurati", monospace;
}

.comfortaa {
  font-family: "Comfortaa", cursive;
}
.md-preview h1{
  font-size: 60px;
  font-weight: 600;
}
.md-preview h2{
  font-size: 50px;
  font-weight: 400;
}
.md-preview h3{
  font-size: 40px;
  font-weight: 400;
}